# 해당 파일은 'pip install -r requirements.txt' 사용해 실행

# LangChain RAG Core
langchain
langchain-core
langchain-community
langchain-text-splitters

# Google LLM & Embeddings
langchain-google-genai
google-generativeai

# Vector Database
faiss-cpu

# PDF Loader
pypdf

# .env 파일을 읽어 API 키를 안전하게 로드하기 위해 필수
python-dotenv

# 버전을 고정.
protobuf==5.29.1